<div class="total-container">
    <div class="topsite">
        <header>
        </header>
        <h1 class="titre">
            Liste de mots en arabe
        </h1>
    </div>
    <div class="container">

        <div class="carte">
            <p class="mot">
                أحبّ
            </p>
        </div>
        <div class="bouton-container">

            <button id="boutondegauche">
                <div class="centering">
                    <div class="rotationdegauche"></div>
                    <div class="rotationdedroite"></div>
                </div>
            </button>

            <button id="boutondedroite" type="button" value="vrai">
                jjgjg
            </button>


        </div>

    </div>
</div>