<div class="total-container">
  <div class="topsite">
    <header>
    </header>
  <h1 class="titre">
    Liste de mots en arabe / exemple j'ai fais des modfis
  </h1>
  </div>
  <div class="container">

    <div class="carte">
      <p class="mot">
        أحبّ
      </p>
    </div>
    <div class="bouton-container">
      <input id="boutondegauche" type="button" value="faux" />
      <input id="boutondedroite" type="button" value="vrai" />
    </div>
  </div>

</div>
<div class="cross">
  <span>

  </span>
</div>